
# 微信服务器回调所用的 token
token=AfthulkgV8yeRK0KfY_SOr8-c2ITy82oFala-hqyZaocnZbiH3iUpGy7iaeO5zYKXVV7Sa-XOtmwejApgOuCUR3JMdw78YiGIfzMJHamLeoGKQjAHAXBH

# 测试用的账号
appId=wxa77909d5a60c6e37
appSecret=d26d8c983b3ca397e59bd749e56d6f14

#是否对消息进行加密，是否对消息进行加密，对应于微信平台的消息加解密方式，false支持明文模式及兼容模式，true支持安全模式及兼容模式
#encryptMessage=true
#encodingAesKey=yourEncodingAesKey


