* {box-sizing: border-box;padding: 0;margin: 0;/* 防止点击闪烁 */-webkit-tap-highlight-color:rgba(0,0,0,0);/* 缩放网页，文字大小不变 */-webkit-text-size-adjust:none;}
html  {font-size: 62.5%; }
a, a:hover {color: #fff;text-decoration:none;}
body {font-size: 1.4rem; /*1.4 × 10px = 14px */font-family:SimSun,"微软雅黑",SimHei;overflow-x:hidden;}
ul,li{list-style:none;}
.clear{ clear:both;width:0;height:0;}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix{display:inline-table;}
.img-responsive { max-width: 100%; height: auto; display: block; }
.img-circle {border-radius:50%;max-width:100%; }
.container { width: 100%; min-height: 414px; max-width:640px;margin:auto;position:relative;background:#00bce8;overflow:hidden;}

.HomePage{width:100%;height:100%;position:absolute;}
.RankingIcon{position:absolute;top:0%;left:0;width:40px;height:40px;background:url(../images/rank_icon.png) center center no-repeat ;background-size:25px;}
.ExplanationIcon{position:absolute;top:0%;right:0;width:40px;height:40px;background:url(../images/ex_icon.png) center center no-repeat ;background-size:25px; border-radius:50%;}
.HomePage h1{color:#000;font-size:3.2rem;text-align:center;top:14%;position:absolute;width:100%;line-height:3.2rem;}
.HomePage h1 span{color:#000;font-size:1.4rem;text-align:center;font-weight:normal;line-height:1.8rem;}
.GameDiv{width:100%;top:37%; position:absolute;}
.GameDiv .gamebg{width:130%;display:block;margin:0 -15%;}
.GameMain{width:100%;height:100%;position:absolute;top:0;left:0;}
.GameMain ul{width:100%;margin-top:12%;}
.GameMain ul li{width:20%;margin:0 2.5%;float:left;}
.GameMain ul li.Flip{transform:rotateY(180deg);-webkit-transform:rotateY(180deg);-moz-transform:rotateY(180deg);filter:FlipV;}
.GameMain ul li img{width:100%;display:block;background:#edef87;border:1px solid #000;border-radius:3px;transition:all 0.1s linear 0s;}
.icon_tick{width:15%;position:absolute;top:65%;left:55%;}
.submit{width:18rem;height:4.8rem;background:#e6ca32;font-size:2.4rem;line-height:4.8rem;color:#000;text-align:center;position:absolute;left:50%;margin-left:-9rem;top:78%;z-index:1;cursor:pointer;}
.game_bg{width:100%;position:absolute;left:0;bottom:0;}

.StartPage{width:100%;height:100%;position:absolute;display:none;}
.StartPage h1{color:#000;font-size:1.8rem;text-align:center;top:8%;position:absolute;width:100%;line-height:1.8rem;}
.StartGame{width:100%;top:15%; position:absolute;}
.StartPage p{color:#000;font-size:1.8rem;text-align:center;top:92%;position:absolute;width:100%;line-height:1.8rem;}
.StartGame .gamebg1{width:100%;display:block;margin:0%;}
.caption{width:100%;height:70px;background:rgba(40,62,70,0.8);position:absolute;top:50%;margin-top:-35px;line-height:70px;left:0;font-size:20px;color:#fefb00;text-align:center;letter-spacing:2px;
transform:scale(0);transition:all 0.3s linear 0s;-webkit-transition:all 0.3s linear 0s;-moz-transition:all 0.3s linear 0s;opacity:0;
}
.caption span{opacity:0;transition:all 0.1s linear; }
.caption.ShowWord span:nth-child(1){transition-delay:0.4s;}
.caption.ShowWord span:nth-child(2){transition-delay:0.5s;}
.caption.ShowWord span:nth-child(3){transition-delay:0.6s;}
.caption.ShowWord span:nth-child(4){transition-delay:0.7s;}
.caption.ShowWord span:nth-child(5){transition-delay:0.8s;}
.caption.ShowWord span:nth-child(6){transition-delay:0.9s;}
.caption.ShowWord span:nth-child(7){transition-delay:1s;}
.caption.ShowWord span:nth-child(8){transition-delay:1.1s;}
.caption.ShowWord span:nth-child(9){transition-delay:1.2s;}
.caption.ShowWord span:nth-child(10){transition-delay:1.3s;}
.caption.ShowWord span:nth-child(11){transition-delay:1.4s;}
.caption.ShowWord span:nth-child(12){transition-delay:1.5s;}
.caption.ShowWord span:nth-child(13){transition-delay:1.6s;}
.caption.ShowWord{transform:scale(1);opacity:1;}
.caption.ShowWord span{opacity:1;}


.GameMain1{width:100%;height:100%;position:absolute;top:0;left:0;}
.GameMain1 ul li{width:20%;position:absolute;}
.GameMain1 ul li.Flip{transform:rotateY(180deg);-webkit-transform:rotateY(180deg);-moz-transform:rotateY(180deg);filter:FlipV;}
.GameMain1 ul li img{width:100%;display:block;background:#edef87;border:1px solid #000;border-radius:3px;transition:all 0.1s linear 0s;}
.GameMain1 ul li.Flip img{background:#F00;}
.GameMain1 ul li:hover img{transform:scale(1.15);background:#ffc600;}
.Number3 li:nth-child(1){top:30%;left:6.66%;}
.Number3 li:nth-child(2){top:30%;left:40%;}
.Number3 li:nth-child(3){top:30%;left:73.33%;}

.Number4 li:nth-child(1){top:30%;left:2.5%;}
.Number4 li:nth-child(2){top:30%;left:27.5%;}
.Number4 li:nth-child(3){top:30%;left:52.5%;}
.Number4 li:nth-child(4){top:30%;left:77.5%;}

.Number5 li:nth-child(1){top:34%;left:2.5%;}
.Number5 li:nth-child(2){top:15%;left:32.5%;}
.Number5 li:nth-child(3){top:15%;left:67.5%;}
.Number5 li:nth-child(4){top:56%;left:32.5%;}
.Number5 li:nth-child(5){top:56%;left:67.5%;}

.Number6 li:nth-child(1){top:36%;left:2.5%;}
.Number6 li:nth-child(2){top:15%;left:27.5%;}
.Number6 li:nth-child(3){top:15%;left:52.5%;}
.Number6 li:nth-child(4){top:56%;left:27.5%;}
.Number6 li:nth-child(5){top:56%;left:52.5%;}
.Number6 li:nth-child(6){top:36%;left:77.5%;}

.Number7 li:nth-child(1){top:15%;left:4.5%;}
.Number7 li:nth-child(2){top:24%;left:29.5%;}
.Number7 li:nth-child(3){top:18%;left:55.5%;}
.Number7 li:nth-child(4){top:57%;left:8.5%;}
.Number7 li:nth-child(5){top:62%;left:37.5%;}
.Number7 li:nth-child(6){top:58%;left:62.5%;}
.Number7 li:nth-child(7){top:36%;left:77.5%;}

.Number8 li:nth-child(1){top:25%;left:4.5%;}
.Number8 li:nth-child(2){top:15%;left:28.5%;}
.Number8 li:nth-child(3){top:12%;left:63.5%;}
.Number8 li:nth-child(4){top:57%;left:8.5%;}
.Number8 li:nth-child(5){top:62%;left:37.5%;}
.Number8 li:nth-child(6){top:58%;left:62.5%;}
.Number8 li:nth-child(7){top:36%;left:77.5%;}
.Number8 li:nth-child(8){top:33%;left:41.5%;}

.Fanimate img{animation:Fmove .3s linear infinite;-webkit-animation:Fmove .3s linear infinite;-moz-animation:Fmove .3s linear infinite;}
@keyframes Fmove{
    0% {transform:translateX(0) translateY(0);}
    25%{transform:translateX(5px) translateY(-5px);}
    75%{transform:translateX(-5px) translateY(5px);}
    100% {transform:translateX(0) translateY(0);}
}
@-webkit-keyframes Fmove{
    0% {-webkit-transform:translateX(0) translateY(0);}
    25%{-webkit-transform:translateX(5px) translateY(-5px);}
    75%{-webkit-transform:translateX(-5px) translateY(5px);}
    100% {-webkit-transform:translateX(0) translateY(0);}
}
@-moz-keyframes Fmove{
    0% {-moz-transform:translateX(0) translateY(0);}
    25%{-moz-transform:translateX(5px) translateY(-5px);}
    75%{-moz-transform:translateX(-5px) translateY(5px);}
    100% {-moz-transform:translateX(0) translateY(0);}
}
.EndPage{width:100%;height:100%;position:absolute;background:#f0c13d;display:none;}
.EndPage h1{color:#FFF;font-size:1.6rem;text-align:center;top:15%;position:absolute;width:100%;line-height:2.8rem;}
.EndPage h1 p{font-size:2.2rem;}
.EndPage h1 span{font-size:2.2rem;color:#000;}
.OnceMore{width:18rem;height:4.8rem;background:#32b16c;font-size:2.4rem;line-height:4.8rem;color:#FFF;text-align:center;position:absolute;left:50%;margin-left:-9rem;top:58%;z-index:1;cursor:pointer;}
.Share{width:18rem;height:4.8rem;background:#32b16c;font-size:2.4rem;line-height:4.8rem;color:#FFF;text-align:center;position:absolute;left:50%;margin-left:-9rem;top:72%;z-index:1;cursor:pointer;}

.RankingList{width:100%;height:100%;position:absolute;background:#f0c13d;z-index:3;display:none;}
.CloseRank{position:absolute;top:0%;right:0;width:40px;height:40px;background:url(../images/Close.png) center center no-repeat ;background-size:25px;}

.RankingList .title{width:100%;height:50px;top:10%;left:0;background:url(../images/record_Bg.png) center center no-repeat;background-size:auto 100%;text-align:center;color:#FFF;line-height:50px;}
.RankingList .Rtitle{width:90%;height:30px;line-height:30px;margin-top:20px;border-bottom:2px solid #25a4ff;margin:auto;font-size:14px;}
.RankingList .Rtitle span{display:inline-block;height:30px;text-align:center;color:#25a4ff;float:left;}
.RankingList .Rtitle span:nth-child(1){width:40%;}
.RankingList .Rtitle span:nth-child(2){width:30%;}
.RankingList .Rtitle span:nth-child(3){width:30%;}
.RankingList .Rlist{width:90%;min-height:220px;overflow-y:auto;margin:auto;}
.RankingList .Rlist ul li{width:100%;height:30px;line-height:30px;font-size:12px;}
.RankingList .Rlist ul li span{display:inline-block;height:30px;text-align:center;color:#333333;float:left;border-bottom:1px dashed #333;}
.RankingList .Rlist ul li span:nth-child(1){width:40%;}
.RankingList .Rlist ul li span:nth-child(2){width:30%;}
.RankingList .Rlist ul li span:nth-child(3){width:30%;}

.Explanation{width:100%;height:100%;position:absolute;background:#f0c13d;z-index:3;display:none;}
.CloseExplanation{position:absolute;top:0%;right:0;width:40px;height:40px;background:url(../images/Close.png) center center no-repeat ;background-size:25px;}
.Explanation p{color:#000;font-size:12px;line-height:18px;width:90%;margin:10% auto 0;}

@media screen and (orientation:portrait) {
    /*  css[竖向定义样式]  */
    .portrait{display:block;}
    .landscape{display:none;}
}

@media screen and (orientation:landscape) {
    /*   css[横向定义样式]  */
    .portrait{display:none;}
    .landscape{display:block;}
    .landscape img{display:block;width:206px;height:117px;position:absolute;top:50%;left:50%;margin-left:-103px;margin-top:-76px;}
    .landscape p{width:206px;height:30px;line-height:30px;color:#fff;font-size:10px;position:absolute;top:50%;left:50%;margin-left:-98px;text-align:center;margin-top:42px;}
    body{background:#000;}
}


